/*======================================================================*
* Desarrollo CIPM - Aktien.mx
* Copyright 2024
*======================================================================*/
/*======================================================================*
Nucleo //
*======================================================================*/
/*======================================================================*
    _variables
*======================================================================*/
/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Mixing Georgia Font
*======================================================================*/
/*======================================================================*
    Mixing Georgia Font
*======================================================================*/
/*=========================================================================
    _variables CSS
*=========================================================================*/
:root {
  --white:#ffffff;
  --black:#000000;
  --dark-blue-corporativo:#26314D;
  --light-blue-corporativo: #005198;
  --green-corporativo: #26B105;
  --dark-gray-texto: #000000E5;
  --light-blue-texto: #ABC5DD;
  --light-gray-texto: #7C8294;
  --light-blue-background: #EEF1F6;
}

/*=========================================================================
    _nucleo
*=========================================================================*/
.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.noMargin {
  margin-left: 0;
  margin-right: 0;
}

button, a {
  cursor: pointer;
}

.overflow {
  overflow: hidden;
}

/*======================================================================*
Secciones Generales //
*======================================================================*/
/*======================================================================*
    _variables
*======================================================================*/
/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Mixing Georgia Font
*======================================================================*/
/*======================================================================*
    Mixing Georgia Font
*======================================================================*/
/*======================================================================*
    _home - @media (min-width: 320px){}
*======================================================================*/
/*======================================================================*
Variables //
*======================================================================*/
/*======================================================================*
    _variables
*======================================================================*/
/*======================================================================*
Mixings //
*======================================================================*/
/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Mixing Georgia Font
*======================================================================*/
/*======================================================================*
    Mixing Georgia Font
*======================================================================*/