/*======================================================================*
    _variables
*======================================================================*/
// Default
$white: #ffffff;
$black: #000000;

// Corporativo
$dark-blue-corporativo: #26314D;
$light-blue-corporativo: #005198;
$green-corporativo: #26B105;

// Texto
$dark-gray-texto: #000000E5;
$light-blue-texto: #ABC5DD;
$light-gray-texto: #7C8294;

//Backgrounds
$light-blue-background: #EEF1F6;

//////////////////////////////////////////////////////
/// 
/// Variables Agregadas - Maria Felegrino
/// 
////////////////////////////////////////////////////// 
$gray-txt:#838383;
$gray-txt-secundary: #AAAAAA;
$gray-border: #B7CCE1;
$outline-select:#DDDADA;
$dark-gray-border:#707070;
$stock-tag:#11D120;
$gray-border-light: #CCCCCC;
$cian-background:#0589FD;
$black-blue-txt:#323642;
$cian-txt:#0091E3;
$black-blue-txt-sub: #3A434D;
$light-gray-txt-event: #A0A4A9;
$modal-background:#136EB9;
$border-btn-white: #D1CAE3;
$purple:#2F1082;
$yellow-brown:#6E6918;
$brown-title:#414B03;
$purple-title:#441190;
$purple-txt:#331086;
$gray-border-btn:#D0DFEC;